.display
{
    display:flex;
}
.photos
{
    border:5px solid rgb(169, 36, 118);;
    width:300px;
    height:280px;
    margin-left:10px;
    margin-top:10px;
    border-radius:7px;
}
.One
{
    border:5px solid rgb(196, 45, 138);
    width:300px;
    height:280px;
    margin-left:120px;
    margin-top:10px;
    border-radius:7px;
}
.photos:hover
{
    background-color:black;
}