
.nav
{
    width:100%;
    height:90px;
    border:1px solid white;
    display: flex;
    background-color:black;

}
.whyDonate
{
    margin-left:200px;
    margin-top:  35px;
    color:white;

}
.Aboutus
{
    margin-left:30px;
    margin-top: 35px;
    margin-right:10px;
    color:white;
}
.DonateNow
{
    margin-left:20px;
    margin-top:  35px;
    margin-right:10px;
    color:white;
}
.ContactUs
{
    margin-left:20px;
    margin-top:  35px;
    margin-right:10px;
    color:white;
}
.login
{   
    margin-left:20px;
    margin-top:35px;
    margin-right:10px;
    color:white;
}
.drops
{
    width:75px;
    height:75px;
    border:2px solid silver;
    margin-left:200px;
    /* background-color: aqua; */
    border-radius:50%;
    /* background-image: url('/photos/drops.png'); */
}
  .body {
    background-image: url("/public/photos/group.jpeg");
    background-size:cover; 
    height:610px;
    opacity:23;

}  
.Body
{
    width:900px;
    height:100px;
    border:2px solid silver;
    background-color:rgb(169, 5, 5); 
    margin-top:20px;
    color:white;
    font-size:20px;
    opacity:35px;
    border-radius:15px;
    margin-left:180px;
    opacity:3;
}
/* .top
{   
    margin-top:70px;
    font-size:30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

} */
.insidetext
{
    margin-top:23px;
}
.Explore
{
    width:150px;
    height:40px;
    margin-left:65%;
    margin-top:20%;
    background-color:rgb(169, 5, 5); 
    border-radius:5px;
    opacity:5;
    border:1px solid white;
}
.More
{
    text-decoration: none;
    font-size:20px;
    margin-top:7px;
    color:white;
}
/* .Below  
{
    margin-left:72%;
    border:1px solid white;
    width:50px;
    font-size:20px;
    height:50px;
    border-radius: 5px;
    opacity:5;
    background-color:rgb(169, 5, 5); 
}
.Belowsidebutton
{
    width:50px;
    font-size:20px;
    height:50px;
    border:2px solid white;
    border-radius:2px;
    border:1px solid white;
    background-color:rgb(169, 5, 5); 
    opacity:5;
} */
 /* body
{
    border:2px solid black;
    width:100%;
    height:700px;
}  */
.Side
{
    width:100%;
    height:200px;
    margin-top:20px;
    background-color: rgb(169, 5, 5);
}
.sideheading
{
    margin-right:400px;
    font-size:25px;
    margin-top:25px;
    
}
.info
{
    margin-left:230px;
    margin-top:20px;
    width:750px ;
    font-size:20px;
    margin-right:500px;
    border:2px solid black;
    background-color: rgb(39, 39, 113);
}
.Color
{
    color:white;
    margin-bottom:30px;
    border:px solid black;
    margin-left:85px;
}
.footerpage
{
    height:240px;
    border:2px solid black;
    margin-top:20px;
    background-color: black;
    display:flex;
}
.Footerpage
{
    height:300px;
    border:2px solid black;
    margin-top:20px;
    background-color: black;
}
.why
{
    color:white;
    margin-top:20px;
    margin-right: px;
    font-size:20px;
}
.benefits
{
    color:white;
    margin-top:20px;
}
.increaseBlood
{
    color:white;
    margin-top:20px;
}
.box
{
    border:0px solid red;
    width:300px;
    height:230px;
    margin-left:140px;
    
}
.Secondbox
{
    width:250px;
    height:230px;
    margin-left:40px;
    border: 0px solid red;
}
.AboutUs
{
    color:white;
    margin-top:20px;
    margin-right:105px;
    font-size: 20px;
}
.gallery
{
    color:white;
    margin-top:20px;
    margin-right:140px;
}
.Notification
{
    color:white;
    margin-top:20px;
    margin-right:100px;
}
.bloodGroups
{
    color:white;
    margin-top:20px;
    margin-right:100px;
}
.video
{
    
    color:white;
    margin-top:20px;
    margin-right:100px;
}
.Process
{
    color:white;
    margin-top:20px;
    margin-right:25px;

}
.thirdbox
{
    width:250px;
    height:230px;
    border: 0px solid red;
    margin-left:40px;

}
.Login
{
    color:white;
    margin-top:20px;
    margin-right:145px;
    font-size:20px;
}
.register
{
    color:white;
    margin-top:20px;
    margin-right:50px;
}
.fourthbox
{
    width:300px;
    height:230px;
    border: 0px solid red;
}
.contact
{
    color:white;
    margin-top:20px;
    font-size:20px;
    margin-right:100px;


}
.phone
{

    color:white;
    margin-top:20px;
    margin-right:30px;

}
.Email
{
    color:white;
    margin-top:20px;
    margin-left:29px;

}
.display
{
    display:flex;
    margin-top:20px;
}
.whatsapp
{
    width:50px;
    height:50px;
    border:2px solid black;
    border-radius:50%;
    margin-left:50px;
}
.insta
{
    width:50px;
    height:50px;
    border:2px solid black;
    border-radius:50%;

}
.facebook
{
    width:50px;
    height:50px;
    border:2px solid black;
    border-radius:50%;

}
.lastline
{
    color:white;
    border:0px solid black;
    /* background-color: blue; */
    margin-bottom:90px;
    width:700px;
    margin-left:400px;
    color:red;
}