/* .heading
{
    color:rgb(46, 46, 53);
    font-size:25px;
}
.Location
{
    font-size:20px;
}
.location
{
    padding: 10px 10px 10px 20px;
    border: 2px solid black;
    margin-top:20px;
}
.box
{
    height:500px;
    width:1000px;
    margin-left:150px;
    border:2px solid silver;
    /* background-color: crimson; */
    /* background-image: url("/public/photos/white.png");
}
.display
{
    display:flex;
    height:500px;
}
.inside
{
    border:2px solid silver;
    height:400px;
    width:850px;
    margin-left:40px;
    margin-top:30px;
    background-color: red;
}
.span
{
    color:blue;
}
.Name
{
    font-size:20px;
}
.name{
    margin-left:29px;
    padding: 10px 10px 10px 20px;
    border: 2px solid black;
    margin-top:20px;
}
.age
{
    margin-left:50px;
    padding: 10px 10px 10px 20px;
    border: 2px solid black;
    margin-top:20px;
}
.bloodGroup
{
    margin-right:30px;
    padding: 10px 10px 10px 20px;
    border: 2px solid black;
    margin-top:20px;
}
.address
{
    margin-right:70px;
    padding: 10px 10px 10px 20px;
    border: 2px solid black;
    margin-top:20px;
}
.submit
{
    padding:20px 40px 10px 10px;
    text-align: center;
    margin-top:30px;
    border:2px solid black;
    margin-right:30px;

}
.submit:hover
{
    background-color: rgb(25, 68, 111);
}
.insideOne
{
    width:400px;
    height:180px;
    border:px solid black;
    margin-left:40px;
    margin-top:100px;
}
.capability
{
    margin-top:90px;
    font-size: 20px;
}
.red
{
    margin-top:90px;
    padding: 20px 30px 20px 10px;
}
.green
{
    
    padding: 20px 20px 20px 10px
}
.green:hover
{
    background-color:green;
}
.red:hover
{
    background-color:red;
}*/

.size
{
    border:px solid black;
} 

.search
{
    padding:5px 30px 5px 5px;
}
.submit
{
    padding:5px 20px 5px 5px;
    margin-left:10px;
}
.acountment
{
    color:brown;
}

.second{
    border:px solid red;
    /* margin-left:400px;
    margin-right:200px; */
   
}
.table
{
    /* border:2px solid red; */
    /* width:450px; */
    margin-left:23%;   
    display:flex;
    /* border:2px solid black; */
}
.th{
    border:2px solid blue;
    /* background-color: blue; */
}

.Sno
{
    width:33px;
    border:2px solid green;
    margin-left:5px;
    margin-top:3px;
   
}
.bloodgroup
{
    border:2px solid green;
   margin-top:3px;
    width:140px;
}
.H_name
{
    width:400px;
    border:2px solid green;
    margin-right:3px;
    margin-left:3px;
    margin-top:2px;
}
.location
{
   
    border:2px solid red;
    margin-left:2px;
    margin-top:2px;
}
#Snoheading
{
    margin-left:299px;
    width:33px;
    border:2px solid black;
}
.row{
    margin-right: 400px;
    border: 5px solid blue;
    width:20px;
    height:20px;
}
.flex
{
    display:flex;
}
.hosName
{
    border:2px solid black;
    width:400px;
    margin-left:3px;
}
.bloodG
{

    border:2px solid black;
    width:140px;
    margin-left:3px;
}
.loctionHead
{
    width:105px;
    border:2px solid black;
    margin-left:2px;
}
.border
{
    border:px solid black;
    
}