.heading
{
    color:rgb(46, 46, 53);
    font-size:25px;
}
.Location
{
    font-size:20px;
}
.location
{
    padding: 10px 10px 10px 20px;
    border: 2px solid black;
    margin-top:20px;
}
.box
{
    height:500px;
    width:1000px;
    margin-left:150px;
    border:2px solid silver;
    /* background-color: crimson; */
    background-image: url("/public/photos/white.png");
}
.display
{
    display:flex;
    height:500px;
}
.inside
{
    border:2px solid silver;
    height:400px;
    width:850px;
    margin-left:40px;
    margin-top:30px;
    background-color: red;
}
.span
{
    color:blue;
}
.Name
{
    font-size:20px;
}
.name{
    margin-left:29px;
    padding: 10px 10px 10px 20px;
    border: 2px solid black;
    margin-top:20px;
}
.age
{
    margin-left:50px;
    padding: 10px 10px 10px 20px;
    border: 2px solid black;
    margin-top:20px;
}
.bloodGroup
{
    margin-right:30px;
    padding: 10px 10px 10px 20px;
    border: 2px solid black;
    margin-top:20px;
}
.address
{
    margin-right:70px;
    padding: 10px 10px 10px 20px;
    border: 2px solid black;
    margin-top:20px;
}
.submit
{
    padding:20px 40px 10px 10px;
    text-align: center;
    margin-top:30px;
    border:2px solid black;
    margin-right:30px;

}
.submit:hover
{
    background-color: rgb(25, 68, 111);
}
.insideOne
{
    width:400px;
    height:180px;
    border:px solid black;
    margin-left:40px;
    margin-top:100px;
}
.capability
{
    margin-top:90px;
    font-size: 20px;
}
.red
{
    margin-top:90px;
    padding: 20px 30px 20px 10px;
}
.green
{
    
    padding: 20px 20px 20px 10px
}
.green:hover
{
    background-color:green;
}
.red:hover
{
    background-color:red;
}
